@{
    ViewBag.Title = "后台首页";
    Layout = "~/Views/Shared/_SystemMainLayot.cshtml";
}
@section head{
    <style>
        
    </style>
}
@model List<Entity.Enterprise>
<div class="TitleDIV">
    @Html.ActionLink("添加企业信息", "Add", "S_Default", null, null)
</div>
<div>
    <table class="Tab_list" cellpadding="0" cellspacing="0">
        <tr>
            <th>
                企业名称
            </th>
            <th>
                状态
            </th>
            <th>
                创建日期
            </th>
            <th>
                使用截止日期
            </th>
            <th>
                操作
            </th>
        </tr>
        @foreach (var item in Model)
        {
            
        <tr>
            <td>
                @item.EName
            </td>
            <td>
                @(item.Status?"启用":"禁用")
            </td>
            <td>
                @item.CreteDate
            </td>
            <td>
                @if (item.Permanent)
                { 
                    @:永久使用    
                }
                else
                { 
                    @item.ClosingDate.Value.ToString("yyyy-MM-dd")
                }
            </td>
            <td class="Operation">
                @Html.ActionLink("修改", "Edit", new { ID = item.ID })
                
                @Ajax.ActionLink("删除", "Delete", new AjaxOptions() { UpdateTargetId = "alert", OnBegin = "return AppDelete('此操作会删除该活动下的所有报名人信息。<br/>“确定删除?”','" + Url.Action("Delete", "ActivityInfo", new { HostName = ViewBag.HostName, ActionId = item.ID }) + "',null)" })

            </td>
        </tr>
        }
  
    </table>
</div>
